nav {
  h1 {
    &:hover {
      cursor: pointer;
    }
  }
  .main-navbar {
    .nav-item {
      .nav-link {
        &:hover {
          cursor: pointer;
          color: #ffa500;
        }
      }
      &.active {
        .nav-link {
          color: #ffa500;
        }
      }
    }
  }
}
